<div class="post">
  <div class="header">
    <h1>Сырники из творога</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong><br>
    <small>30.09.2021</small>
  </div>

  <div>
    <p>Главный секрет идеальных сырников &mdash; а точнее творожников, &mdash; творог нужно протереть через мелкое сито и отжать от влаги. Жирность предпочтительна не больше и не меньше 9%. Тесто должно получиться эластичным, чтобы при надавливании сырник не треснул на сковородке, а сохранил форму. Если все сделать правильно, получатся нежные однородные кругляшки под плотной румяной корочкой. Сырники можно запекать в духовке или готовить на пару. В рецепте не исключаются эксперименты с начинкой &mdash; сухофрукты, орехи, свежие фрукты и даже картофель лишними не будут.</p>

    <p>ЭНЕРГЕТИЧЕСКАЯ ЦЕННОСТЬ НА ПОРЦИЮ</p>

    <p>КАЛОРИЙНОСТЬ</p>

    <p>БЕЛКИ</p>

    <p>ЖИРЫ</p>

    <p>УГЛЕВОДЫ</p>

    <p>1029</p>

    <p>55</p>

    <p>65</p>

    <p>57</p>

    <p>ККАЛ</p>

    <p>ГРАММ</p>

    <p>ГРАММ</p>

    <p>ГРАММ</p>

    <p><em>* КАЛОРИЙНОСТЬ РАССЧИТАНА ДЛЯ СЫРЫХ ПРОДУКТОВ</em></p>

    <app-ingredients></app-ingredients>

    <p>ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</p>

    <p>30 МИНУТ</p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/170314165129/p_O.png" /></p>

    <p>1Положите весь творог в кастрюльку и разомните его вилкой так, чтобы в нем не осталось крупных комков. Разбейте в него яйца, всыпьте сахар и тщательно все перемешайте. Лучше не использовать слишком сухой или слишком влажный творог, иначе сырники будут разваливаться в процессе приготовления.</p>

    <p><a href="https://eda.ru/video/yayca/kak-proverit-kachestvo-jaic-3"><img alt="Изображение" src="https://static.eaglecdn.com/eda/logos/d/9/d9d0859d860fc094783af7d4d1afb9ca72739c4a.jpg?1484830216" /></a></p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/1703141651290/p_O.png" /></p>

    <p>2Всыпьте в творог 5 столовых ложек (с горкой) муки и тщательно перемешайте. Можно добавить немного больше муки, сырники получатся тогда более плотными. Или муки можно добавить чуть меньше, и тогда сырники будут нежнее. В итоге у вас должна получиться однородная масса, из которой можно будет лепить сырники.</p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/170314165130/p_O.png" /></p>

    <p>3Поставьте сковороду на средний огонь и налейте в нее подсолнечное масло.</p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/1703141651300/p_O.png" /></p>

    <p>4Насыпьте на тарелку немного муки. Слепите несколько небольших шариков из получившейся творожной массы и положите их на тарелку. Лучше лепить разом 4&ndash;5 шариков &mdash; столько, сколько поместится одновременно на сковороду. Затем по очереди обкатывайте творожные шарики в муке, плющите их в небольшие лепешки (они не должны быть слишком тонкие) и выкладывайте на сковороду.</p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/170314165131/p_O.png" /></p>

    <p>5Обжаривайте сырники 1&ndash;2 минуты до появления золотистой корочки. Затем переверните их на другую сторону и также обжарьте до золотистого состояния.</p>

    <p><img alt="Изображение материала" src="https://eda.ru/img/eda/c434x295/s1.eda.ru/StaticContent/Photos/110811142241/1703141651310/p_O.png" /></p>

    <p>6Повторяйте, пока творог не закончится.</p>

  </div>
</div>
