.post-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding: 0;
}

.image-card {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  display: block;
  margin: 0;
}

.content-post-card {
  margin: 2rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
