<mat-toolbar class="navigation-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a routerLink="/">Konditer</a>
  <a routerLink="/admin">Admin App</a></span>
  <span class="example-spacer"></span>
  <span class="navigation-desktop">
  <div  *ngFor="let item of navigationAdmin">
    <a mat-button routerLink="{{item.path}}">{{ item.title }}</a>
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button></span>
</mat-toolbar>
